@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0c192c;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #00000010;
    width: 98%;
    height: 10%;
    padding: 15px;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px dashed #0000003c;
    list-style: none;
    position: fixed;
    top: 0; /* Posiciona o menu no topo da tela */
    left: 50%; /* Centraliza horizontalmente no meio da tela */
    transform: translateX(-51%); /* Ajusta a centralização exata */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

.menu .center {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; /* Centraliza os itens dentro da .center verticalmente */
    text-align: center;
    width: 72%; /* Garante que .center ocupe todo o espaço disponível no .menu */
}

.menu .center li a {
    padding: 8px;
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: .5rem;
    align-items: center;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    transition: .5s ease-in-out;
}

.menu .center li a::before {
    content: "";
    position: absolute;
    bottom: -26px; /* Posiciona a linha na parte inferior do link */
    left: 0;
    width: 100%; /* A linha cobre a largura do link */
    height: 3px; /* Espessura da linha */
    background-color: #3488b2; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente oculta */
    transition: transform 0.5s ease-in-out; /* Transição suave */
    border-radius: 5px;
}

.menu .center li a:hover::before, .menu .center li a:hover {
    transform: scaleX(1); /* Mostra a linha ao passar o mouse */
    color: #3488b2;
    text-shadow: 0 0 10px #3488b244;
}

.menu .right {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.menu .right #discord-btn {
    display: flex;
    background-color: #585bf2;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    gap: .5rem;
    border-radius: 50%;
    transition: .5s ease-in-out;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.menu .right #discord-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 40px #585bf244;
}

.menu .right #instagram-btn {
    display: flex;
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040, #FCAF45);
    padding: 8px;
    text-decoration: none;
    color: #fff;
    gap: .5rem;
    border-radius: 50%;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: .5s ease-in-out;
    font-size: 20px;
}
.menu .right #instagram-btn:hover {
    transform: translateY(-4px);
    /* Cria um box-shadow com as cores da logo do Instagram */
    box-shadow: 
        0 0 10px #833AB444, /* Roxo */
        0 0 20px #FD1D1D44, /* Rosa */
        0 0 30px #F5604044, /* Laranja */
        0 0 40px #FCAF4544; /* Amarelo */
}

.menu .right #staff {
    display: flex;
    background: linear-gradient(40deg, #3488b2, #163b4e);
    padding:10px;
    text-decoration: none;
    color: #fff;
    gap: .5rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    font-size: 15px;
    text-shadow: 0 0 5px #000000c8;
    border-radius: 2px dashed #ffffff00;
    transition: .5s ease-in-out;
}

.menu .right #staff:hover {
    box-shadow: 0 0 30px #000000c4;
    transform: translateY(-8px) scale(1.01);
}

#home {
    min-height: 80vh;
    background: url('path/to/your/image.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

#home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

#home .image {
    max-width: 50%; /* Ajuste a largura da imagem conforme necessário */
    border-radius: 15px; /* Adiciona bordas arredondadas à imagem */
    margin-right: 30px; /* Espaço entre a imagem e o texto */
}

#home .text {
    min-width: 40%; /* Ajuste a largura do texto conforme necessário */
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#home .text:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#home h1 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#home p {
    font-size: .9rem; /* Tamanho da fonte do parágrafo */
    margin-bottom: 20px; /* Espaçamento inferior do parágrafo */
    text-align: initial;
    line-height: 1.5; /* Melhora a legibilidade aumentando o espaçamento entre linhas */
}

#home a {
    display: inline-flex;
    background-color: #3488b2;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: -340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#home a:hover {
    background: #2979b8;
    transform: translateY(-5px);
}

#home .icon {
    margin-left: 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#home a:hover .icon {
    color: #fff;
}

#Products {
    padding: 50px 0;
    text-align: center;
    background-color: transparent;
}

#Products h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3488b2;
}

.produtos {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 20px;
}

.produto {
    background: #0c192c;
    border-radius: 10px;
    box-shadow: 0 0 10px #3488b244;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 350px;
    padding: 20px;
    text-align: left;
    position: relative;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h2 {
    font-size: 1.5rem;
    margin: 5px 0;
    color: #ffffff;
}

.produto p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}
.produto p#categoria {
    color: #587589;
}

.produto span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3488b2;
}

.produto:hover {
    transform: scale(1.05);
}

.produto a {
    padding: 8px;
    background-color: #3488b2;
    border-radius: 5px;
    color: #fff;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.produto a.active {
    background-color: #8d8d8d9d;
    color: #ffffffa2;
}

.produto a#disable {
    background-color: #8d8d8d9d;
    color: #ffffffa2;
    cursor: not-allowed;
}

.produto a:hover {
    background-color: #2b7092;
}

/* Estilo do modal */
.custom-alert {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo com opacidade */
    backdrop-filter: blur(10px); /* Desfoque de fundo */
    z-index: 1000;
    overflow: auto; /* Permite rolar se o conteúdo for muito grande */
}

/* Conteúdo do modal */
.custom-alert-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 240px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

/* Estilo da mensagem */
.custom-alert-content #alert-message {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

/* Botão de fechar */
.close-btn {
    background: #3488b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1rem;
}

.close-btn:hover {
    background: #2979b8;
}

/* Estilo do link de notificações */
#notifications {
    display: inline-flex;
    align-items: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

/* Contador de mensagens */
#mensage-counter {
    margin-left: 8px;
    background: #fff;
    color: #3488b2;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Estilo do modal de notificações */
.notifications-modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

/* Conteúdo do modal */
.notifications-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1001;
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for grande */
}

/* Título do modal */
.notifications-modal-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #3488b2;
    border-bottom: 2px solid #3488b2;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* Lista de notificações */
#notifications-list {
    font-size: 1rem;
    color: #333;
}

/* Lista de notificações estilizada */
.notis {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notis li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.notis li:hover {
    background: #f1f1f1;
}

/* Título e parágrafo dentro do item da lista */
.notis li h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #3488b2;
}

.notis li p {
    margin: 5px 0 15px;
    color: #333;
    font-size: 1rem;
}

/* Informação de estoque */
.stock-info {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

/* Contador de estoque */
#counter {
    font-weight: bold;
    color: #3488b2;
}


/* Botão de fechar do modal */
.close-btn-noti {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #3488b2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.3s ease;
}

.close-btn-noti:hover {
    background: #2979b8;
}



.tag-new, .tag-famosa {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3488b2; /* Cor de fundo vibrante para chamar a atenção */
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para criar profundidade */
    z-index: 10;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.tag-new i, .tag-famosa i {
    font-size: 1rem; /* Tamanho do ícone */
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 190vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(52, 136, 178, 0.6);
    box-shadow: 0 0 2rem rgba(52, 136, 178, 0.6);
    pointer-events: none;
    animation: particleAnimation 10s linear infinite;
    opacity: 0;
}

.particle:nth-child(even) {
    background: rgba(178, 52, 52, 0.6);
    box-shadow: 0 0 2rem rgba(178, 52, 52, 0.6);
}

@keyframes particleAnimation {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    50% { opacity: 0.3; }
    100% { transform: translateY(100vh) scale(0.5); opacity: 0; }
}

/* Barra de rolagem no Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
}

::-webkit-scrollbar-track {
    background: #0c192c; /* Cor de fundo da trilha da barra de rolagem */
    border-radius: 10px; /* Borda arredondada da trilha */
}

::-webkit-scrollbar-thumb {
    background: #3488b2; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada do polegar */
    border: 3px solid #0c192c; /* Cor da borda ao redor do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: #2979b8; /* Cor do polegar ao passar o mouse */
}

/* Responsividade para telas menores */

@media (max-width: 768px) {
    .homeimg {
        width: 100%; /* Ajusta a largura da imagem para 100% da tela */
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover; /* Faz a imagem cobrir o contêiner sem distorcer */
    }

    #home .content {
        margin-top: 50px; /* Ajusta o topo para dar espaço para o conteúdo */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        text-align: center; /* Centraliza o texto */
    }

    #home .content img {
        display: none; /* Esconde a imagem se necessário */
    }

    #home .content .text h1 {
        font-size: 2.5rem; /* Ajusta o tamanho da fonte para telas menores */
        margin: 20px 0; /* Adiciona margem vertical */
    }

    #home .content .text p {
        font-size: 1rem; /* Ajusta o tamanho da fonte */
        margin-bottom: 20px; /* Adiciona espaço abaixo do parágrafo */
    }

    #home .content .text a {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos links */
        margin: 10px 0; /* Adiciona espaço em torno do link */
    }

    .menu {
        padding: 10px; /* Reduz o padding do menu */
        margin-right: 20px;
        flex-direction: column; /* Empilha os itens do menu verticalmente */
        align-items: center; /* Centraliza os itens do menu */
    }

    .menu a {
        font-size: 14px; /* Reduz o tamanho da fonte dos itens do menu */
        margin: 10px 0; /* Espaço entre os itens do menu */
    }

    .menu .center li a::before {
        bottom: -5px; /* Ajusta a posição do ícone de antes */
    }

    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os produtos horizontalmente */
        padding: 20px; /* Adiciona padding */
    }

    .produtos .produto {
        width: 100%; /* Faz com que os produtos ocupem toda a largura disponível */
        margin-bottom: 20px; /* Espaço entre os produtos */
    }

    .produtos .produto img {
        width: 100%; /* Ajusta a largura da imagem do produto */
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover; /* Faz a imagem cobrir o contêiner */
    }

    .produtos .produto h2 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do título do produto */
        margin: 10px 0; /* Adiciona margem vertical */
    }

    .produtos .produto p {
        font-size: 1rem; /* Ajusta o tamanho da fonte da descrição do produto */
    }
    .menu {
        flex-direction: column; /* Empilha os itens do menu verticalmente */
        height: auto; /* Ajusta a altura do menu para acomodar os itens empilhados */
    }

    .menu a {
        margin: 10px 0; /* Espaço entre os itens do menu */
    }
}

@media (max-width: 480px) {
    .menu {
        padding: 10px; /* Reduz o padding do menu para telas muito pequenas */
        margin-right: 20px;
    }

    .menu a {
        font-size: 14px; /* Reduz o tamanho da fonte dos itens do menu */
    }
    #home .content {
        margin-top: 20px; /* Ajusta o topo para telas muito pequenas */
        text-align: center; /* Centraliza o texto */
    }

    #home .content .text h1 {
        font-size: 2rem; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    #home .content .text p {
        font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    }

    #home .content .text a {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte dos links */
    }

    .produtos {
        padding: 10px; /* Reduz o padding para telas muito pequenas */
    }

    .produtos .produto {
        width: 100%; /* Faz com que os produtos ocupem toda a largura disponível */
        margin-bottom: 15px; /* Espaço entre os produtos */
    }

    .produtos .produto h2 {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte do título do produto */
    }

    .produtos .produto p {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte da descrição do produto */
    }
}

.fullscreen-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 4rem;
    text-align: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    flex-direction: column;
}
.fullscreen-text h1 {
    margin: 0;
    font-size: 3rem;
    animation: fadeIn 1s ease-in-out;
}
.fullscreen-text p {
    font-size: 2rem;
    margin: 20px 0 0;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes slideIn {
    from { transform: translateY(-100vh); }
    to { transform: translateY(0); }
}